



/* Header */
#headies{
    background: url('./images/albert-bleeker-slpTDuenYeM-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size:100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#mobile-links{
    color: white;     
}
.appointmentButton{
    margin-right: 25px;
    border-radius: 12px;
}
.headerHome{
    /* font-family: 'Playball', cursive; */
    font-family: 'Allura', cursive;
}

#mainButton{
    background-color: #AB8349;
}
.uk-offcanvas-bar{
    background: url('./images/albert-bleeker-slpTDuenYeM-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size:100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* Notifications */
.Toastify__toast-container--bottom-center{
    bottom: 22em !important;
}

/* Schedule */
#scheduleWrapper{
    background-color: #002434

}

/* Footer */
#mobile-links1{
    padding: 0px 15px;   
    color: black;
    font-size: 20px;
    font-weight: 700;
      
}
#footerMainDiv{
    background: url('./images/albert-bleeker-slpTDuenYeM-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size:100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* About */
.aboutPara{
    margin-right: 200px;
    margin-left: 200px;
    color: white;
}
#wrapper1About{
    background-color: #002434;
}

/* Contact */
.contactFormDiv{
    margin-right: 200px;
    margin-left: 200px;
}
#send-button:hover{
 /* background-color: #AB8349 !important; */
}

/* HOME */
.headerHome{
    font-size: 80px;
    
}
#wrapper1Home{
    background: url('./images/albert-bleeker-slpTDuenYeM-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size:100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#wrapper3Home{
    background-color: #002434;
}
#wrapper1Contact{
    background-color: #002434;
}
.specializeCards{
    background-color: #002434;
    position: relative;
}
.specializeCards:hover{
    background-color: #002434 !important;
}
.modalityCars{
    position: relative;
}
.allCardText{
    margin-top: 0px !important;
}
.infoIcon{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
}
.appointmentButtonMobile{
    margin: 20px;
    border-radius: 12px;
}
.muscleImages{
    color: black !important;
    
}

@media only screen and (max-width: 950px) {
    /* Notifications */
    .Toastify__toast-container--bottom-center{
        bottom: 50% !important;               
    }
    /* footer */
    .imTiredLOL{
        margin-bottom: 20px !important;
        margin-top: 10px !important;
    }
    #googleMaps{
        width: 400px !important;
        height: 300px !important;
        padding: 20px !important;
    }

    /* About */
    .aboutPara{
        margin-right: 50px;
        margin-left: 50px;
    }
    /* Contact */
    .contactFormDiv{
        margin-right: 50px;
        margin-left: 50px;
    }

  .uk-sticky-placeholder{
      height: 76px !important;
  }
    

}

@media only screen and (max-width: 480px) {
    /* Notifications */
    .Toastify__toast-container--bottom-center{
        bottom: 19em !important;
        padding-right: 20px !important;
        padding-left: 5px !important;
    }
    /* About */
    .aboutPara{
        margin-right: 0px;
        margin-left: 0px;
    }
    /* Contact */
    .contactFormDiv{
        margin-right: 0px;
        margin-left: 0px;
    }
    .headerHome{
        font-size: 50px;
    }
    .appointmentButtonMobile{
        margin: 20px;
        font-size: 12px;
        border-radius: 12px;
    }
    /* footer */
    #googleMaps{
        width: 300px !important;
        height: 250px !important;
    }

}

@media only screen and (max-width: 350px) {
    /* Notifications */
    .Toastify__toast-container--bottom-center{
        bottom: 17em !important;
        padding-right: 20px !important;
        padding-left: 5px !important;
    }

    /* HOME */
    .appointmentButtonMobile{
        margin: 20px;
        font-size: 10px;
    }

    /* footer */
    #googleMaps{
        width: 250px !important;
        height: 200px !important;
    }
}